[submodule "faacets"]
	path = faacets-core
	url = git@github.com:denisrosset/faacets-core.git
[submodule "alasc"]
	path = alasc
	url = git@github.com:denisrosset/alasc.git
[submodule "data"]
	path = data
	url = git@github.com:denisrosset/faacets-data.git
[submodule "polyta"]
	path = polyta
	url = git@github.com:denisrosset/polyta.git
[submodule "faacets-matlab"]
	path = faacets-matlab
	url = git@github.com:jdbancal/faacets-matlab.git
[submodule "faacets-sources"]
	path = faacets-sources
	url = ./faacets-sources
